{% extends 'base.html.twig' %}

{% block title %}Новый пост{% endblock %}
{% block body %}
    <h1>Новый пост</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}


