{% extends 'base.html.twig' %}

{% block title %}Пост успешно сохранен{% endblock %}
{% block body %}
    <h1>Пост успешно сохранен</h1>
    <div>
        <a href="{{ path('default') }}"><button class="btn btn-primary">Вернуться на главную</button></a>
    </div>
{% endblock %}


